* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}
html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* =================Common================== */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}
/* ====================Header====================== */
.fixed-header {
    background: rgb(180, 203, 240);
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: rgb(180, 203, 240);
    height: calc(100vh - 90px);
}

.navbar {
    display: flex;
    align-items: center;
    /* padding-top: 38px; */
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
    /* background-color: gainsboro; */
}

.navbar .action-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--primary-color);
}

.action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.hero .info .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .info .title {
    margin-top: 8px;
    width: 51%;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.19;
    color: #000336;
}

.hero .info .desc {
    width: 50%;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    color: #5a6473;
}

.hero .info .hero-cta {
    min-width: 170px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

.hero-img {
    position: absolute;
    right: calc(((100vw - 1110px) / 2) - 100px);
    bottom: 0;
}

/* ====================Clients====================== */

.clients {
    margin-top: 79px;
    padding: 43px 0 12px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.clients .images a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91px;
    padding: 0 42px;
    background-color: #ffffff;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ====================Guides====================== */

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.list-guide .guide-items {
    margin: 0 70px;
    text-align: center;
}

.list-guide .title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
}

.list-guide .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #0689ff;
}

.list-guide .guide-items .arrow {
    margin-left: 6px;
}

.guides-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guides-cta .btn {
    min-width: 170px;
}

/* ====================Featured====================== */

.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #a8d0f0;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.featured .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.featured .row .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    margin-top: 70px;
    width: 100%;
    gap: 30px;
}

.featured .list .item {
    flex: 1;
    background: #ffffff;
    border-radius: 12px;
}

.featured .list .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.featured .body {
    padding: 17px 24px 22px;
}

.featured .item .title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
}

.featured .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #a3a6ab;
}

.featured .item .info {
    display: flex;
    margin-top: 21px;
    align-items: center;
}

.featured .item .lable {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    color: #4d4d52;
}

.featured .info .icon {
    margin-left: 23px;
}

.featured .info .icon:first-child {
    margin-left: 0;
}

/* ====================Stats====================== */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .row {
    display: flex;
}

.stats .content {
    width: 1017px;
}

.stats .img-block {
    position: relative;
    width: 50%;
}

.stats .info {
    width: 50%;
    padding: 79px 0px 0px 165px;
}

.stats .img-block .images {
    display: block;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: auto;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .info .sub-title::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stats-trend {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 41px;
    border-radius: 0px 0px 12px 12px;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats-trend .separate {
    margin-top: 26px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats-trend .avatar-block {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 17px 14px;
}

.stats-trend .avatar-group {
    display: flex;
}

.stats-trend .avatar {
    width: 17px;
    height: 17px;
    object-fit: cover;
    border-radius: 50%;
}

.stats-trend .avatar:not(:first-child) {
    margin-left: -3px;
}

.stats .row-quantity {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}

.stats .quantity-items {
    padding: 0 32px;
}

.stats .row-quantity .qty {
    font-weight: 600;
    font-size: 64px;
    color: #000000;
}

.stats .row-quantity .qty-desc {
    margin-top: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 27px;
    color: #7b8087;
}

/* ====================Subcription====================== */

.subcription .body {
    margin-top: 90px;
    position: relative;
    display: flex;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}

.subcription .info {
    width: 510px;
    max-width: 510px;
    margin: 110px 60px 110px 80px;
}

.subcription .info .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.subcription .info .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subcription .info .btn {
    margin-top: 20px;
    background-color: #fff;
    min-width: 151px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 20px;
    color: #002366;
}

.subcription .body .images {
    position: absolute;
    bottom: 0;
    left: 670px;
}

/* ====================Footer====================== */

.footer {
    margin-top: 55px;
    padding: 50px 0 55px;
}

.footer .row-top {
    display: flex;
    gap: 185px;
}

.footer .row-top .heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .list,
.footer .row-top .desc {
    margin-top: 42px;
}

.footer .row-top .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7a7a7e;
}

.footer .row-top .item {
    margin-top: 18px;
    white-space: nowrap;
}

.footer .row-top .item a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    color: #7a7a7e;
}

.footer .social {
    display: flex;
    margin-top: 40px;
    gap: 16px;
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    width: 29px;
    height: 29px;
    border-radius: 4px;
}

.footer .social-link:hover {
    background: #ebebeb;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .row-bottom .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 21px;
    color: #c2c2c2;
}
